<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
    <context:component-scan base-package="com.springinaction.springidol">
      
    </context:component-scan>
	 <bean id="kenny" class="com.springinaction.springidol.Instrumentalist">
         </bean>
         <bean id="knife" class="com.springinaction.springidol.Knife"
            scope="prototype">
             <constructor-arg value="2"></constructor-arg>
         </bean>
         <bean id="knifejuggler" class="com.springinaction.springidol.KnifeJuggler"/>
         
          <bean id="poem" class="com.springinaction.springidol.Sonnet29"/>
	<bean id="saxophone" class = "com.springinaction.springidol.Saxophone" />
         <bean id="piano" class="com.springinaction.springidol.Piano" />
<!--<bean id="saxophone2" class = "com.springinaction.springidol.Saxophone" />
	!-->
	 
	<!-- <bean id="hank" class="com.springinaction.springidol.OneManBand">
	 <property name="instruments">
	 	<map>
	 		<entry key="SAXOPHONE" value-ref="saxophone"/>
	 		<entry key="PIANO" value-ref="piano"/>
	 	</map>
	 </property>
         
	 </bean>!-->
	 	 

</beans>