<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
		 <bean id="songSelector" class="com.springinaction.springidol.spel.SongSelector"/>
		 <bean id="instrument" class="com.springinaction.springidol.spel.Saxophone"></bean>
	 <bean id="kenny" class="com.springinaction.springidol.spel.Instrumentalist">
         <property name="instrument">
             <bean class="com.springinaction.springidol.spel.Guitar" />
         </property>    
	 <property name ="song" value="#{songSelector.selectSong()}" /><!-- selecting methods using spel -->
	 </bean>
	
	 
	 <bean id="hank" class="com.springinaction.springidol.spel.Instrumentalist"
         autowire="byType">
             <property name="song" value="Hey I just met you...just now!"/>
         </bean>
             
	 
	<!-- <property name="instruments">
	 	<map>
	 		<entry key="saxophone" value-ref="saxophone" />
	 		<entry key="piano" value-ref="com.springinaction.springidol.spel.Piano" />	
	 		<entry key="instrument" value-ref="#{songSelector.selectSong()=='Hey, I just met you and this is crazy so here's my number so call me maybe'?com.springinaction.springidol.spel.Guitar:com.springinaction.springidol.spel.Piano}"/>
	 	</map>
	 </property>!-->
         
	 
	
	 
	 

</beans>